@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.posts {
  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
  }
  &-item {
    background-color: $white;
    overflow: hidden;
    @include border(bottom, 0.0625rem, solid, $lightgray);
    a {
      display: block;
      &:hover {
        opacity: 0.5;
      }
    }
    &__category {
      display: inline-block;
      @include font-size(16);
      @include margin(bottom, 1rem);
      a {
        color: $darkgray;
      }
    }
    &__thumbnail {
      overflow: hidden;
    }
    &__title {
      @include margin(y, 1rem);
      @include font-size(20);
    }
    &__time {
      display: inline-block;
      color: $darkgray;
      @include font-size(14);
      @include margin(bottom, 2rem);
    }
  }
}

@include breakpoint-md {
  .posts {
    &__inner {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
}
